{% extends "main/frame.html" %}

{% block content %}

<h1> hi  this is from home page </h1>

<p>


This letter is regarding my interest in Software Developer position. I have required set of skills for the position and work experience of 2+ years.

My goal is to implement my knowledge in the realm of Computer Science coupled with my analytical and problem solving skills to contribute to intriguing projects and solve the hard technical problems

Some of the highlights of my qualifications and professional career include:
*	2+ yrs. of professional work experience in design and development of software systems with extensive coding and debugging experience in Java.
*	Qualification: M.S. from State University of New York in Computer Science, Feb15. 
*	Strong background and work experience in programming on different languages.
*	Strong understanding of Data Structure concepts, Algorithm Design and Object Oriented Design Principles.
*	Strong communication and presentation skills.
*	Skill Set: Java, Python, Hadoop, HQL/SQL, AWS (EMR-EC2, S3, Redshift), Python, R, Scala, JS (JSON, jQuery, AJAX), C/C++
I have ability to learn and master new technologies and programming languages. I am confident that my skills and dedicated efforts will provide you best of services as required for this position.

</p>
{% endblock %}	