{% extends "main/frame.html" %}

{% block content %}

{% load static %}
<div class="row">

 <div class="col-md-4">
  	<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="anantsarin"><a class="LI-simple-link" href='https://www.linkedin.com/in/anantsarin?trk=profile-badge'>Anant Sarin</a></div>
  
 </div> 
 
 <div class="col-md-4">

 
   <a href="https://github.com/anantsarin" target="blank"><img src="{% static '/img/Octocat/Octocat.jpg' %}" class="responsive-img" style='max-height:200px;' alt="face"></a>

</div>


   <div class="col-md-4">
  	  	<address>
  <strong>Anant Sarin</strong><br>
  335 W Side Drive, Apt 304<br>
  Gaithersburg, Maryland 20878<br>
  <abbr title="Phone">P:</abbr> (779) 772-3263
</address>

<address>
  <strong>Anant Sarin</strong><br>
  <a href="mailto:#">anantsar@buffalo.edu</a>
</address>
  </div>
  
 </div>


{% endblock %}
			