{% extends "main/frame.html" %}

{% block content %}


<h2> Experience: </h2>


<div class="panel panel-default">
  <div class="panel-heading"><strong>FINRA </strong><p>Software Developer </p> <p align="right"> May/2015 to present </p></div>
  <div class="panel-body">
    <p><strong>Skills: </strong> Java, AWS(EMR , EC2 , RedShift , S3 ), Hive, SQL, Python, Node.js, Pentaho, JSON, AngularJS, JUnit, JSON , Xml, JavaScript, Maven, JAMS, Jenkins, shell-scripting, Scala-scripting </p>
    <p> 
<div >
     <ul >
            <li>Designed Architecture of App using Pentaho tools and AngularJS</li>
            <li>Integrated Pentaho generated reports with AngularJS based Front end to provide a better user experience </li>
            <li>Implemented ETL process to migrate data from legacy databases (Greenplum, Netezza) to AWS Redshift database</li>
            <li>Automated ETL process through Activiti (Open Source) workflow for Hive jobs running on EC2-EMR cluster</li>
            <li>Worked with Hive queries to retrieve the data from S3 buckets; Used EC2-EMR cluster to run HQL queries</li>
            <li>Drastic improvement in performance was achieved by implementing slow and fast queues in HQL system</li>
            <li>Used REST-API to communicate between Activiti workflow and other services internal to FINRA</li>
            <li>Worked with JTAF framework (Open source) to develop and maintain the automated testing tool dedicated to the project</li>
            <li>Continuously contributing to open-source development: JTAF-XCore </li>
            <li>Redesigned existing app which was using traditional backend storage to Cloud storage</li>
            <li>Created a service to fetch the current availability of data in the system</li>

     </ul>
 </div>
</p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <strong>Atrim Electronics Pvt LTD </strong><p>Software Developer (R&D)</p> <p align="right"> August/2012 to July/2013 </p>
  </div>
  <div class="panel-body">
    <p><strong>Skills: </strong>  Java , C , JavaScript</p>

    <p> 
<div >
     <ul >
            <li>Redesigned Internal Web Application for workspace access and management system</li>
            <li>Developed Communication systems for different products using hardware devices like GPS, GSM, Gyroscope</li>
     </ul>
 </div>

</p>
  </div>
</div>



{% endblock %}
